* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.app {
    max-width: 100%;
    position: relative;
    flex-direction: column;
    width: 500px;
    min-height: 0;
    background: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin: 20px auto;
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 55px;
    max-width: 100%;

    h1 {
        font-weight: normal;
        text-align: center;
        font-size: 25px;
        margin-top: 0px;
    }

    .question {
        position: relative;

        >.image {
            margin-left: -15px;
            margin-right: -15px;
            margin-bottom: 15px;
            
            >div {
                justify-content: flex-start !important;
            }

            img {
                height: auto !important;
                width: 100%;
            }
        }
        >.text {
            position: absolute;
            top: 0px;
            width: calc(100% + 30px);
            left: -15px;
            text-align: center;
            height: 170px;
            border-bottom: 0;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.4);
            color: #fff;
            font-weight: 500;
            padding-left: 15px;
            padding-right: 15px;
        }

        .answers {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2vw;

            .answer {
                cursor: pointer;
                display: inline-block;
                outline: 0;
                border: none;
                vertical-align: baseline;
                background: #e0e1e2 none;
                color: rgba(0,0,0,.6);
                padding:    10px 15px 10px;
                text-transform: none;
                text-shadow: none;
                font-weight: 700;
                line-height: 1em;
                font-style: normal;
                text-align: center;
                text-decoration: none;
                border-radius: 5px;
                box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
                user-select: none;
                transition: opacity .1s ease,background-color .1s ease,color .1s ease;
                display: flex;
                align-items: center;
                line-height: 18px;
                justify-content: center;
            }
        }
    }

    .restart {
        background: transparent;
        border: 0px;
        padding: 0px;
        display: inline-block;
        float: right;
        border-bottom: 1px solid rgba(246, 150, 142, 0.63);
        color: #f6968e;
        margin-top: 20px;
        font-size: 15px;
        cursor: pointer;
        text-transform: uppercase;
        transition: border .3s linear;
        outline: none;

        &:hover {
            border-bottom: 1px solid transparent;
        }
    }

    .character {
        margin-top: -25px;
        margin-left: -15px;
        margin-right: -15px;

        >.image {
            margin-bottom: 20px;

            >div {
                justify-content: flex-start;
            }

            img {
                height: auto !important;
                width: 100%;
            }
        }

        >.text {
            font-weight: normal;
            text-align: center;
            font-size: 25px;
            margin-top: 0px;
            text-align: center
        }
    }
}